@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
img {
  /*margin-left: auto;
  margin-right: auto;
  display: block;  */
  max-width: 100%;
  height: auto;
  width: auto\9;
}
#example1{
  padding :30px;
}
.canv {
  height: 240vh;
  margin: 0 0;
  background-position: center;
}
.canv2{
  background-color: #46c6b7;
  height: 240vh;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: bounceIn 2s;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  animation-duration: 2s;
  animation-name: bounceIn;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  display: flex;
  justify-content: space-around;
  align-self: center;
  min-height: 10vh;
  background: lightblue;
  color: white;
}
.navigation {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: pink;
  list-style-type: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4caf50;
}
