@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes stuff {
0% {
    width:0
 }
22.2%{
    width:0;
    top:calc(50%);
    left:calc(50%);
 }
44.4%{
    width:500px;
    top:calc(50% - 157px);
    left:calc(50% - 250px);
 }
66.6%{
    width:0;
    top:calc(50%);
    left:calc(50%);
 }
77.7%{
    width:0;
    top:0;
    left:0;
    padding:0;
    border:0 solid #000;
 }
100%{
    width:25%;
    top:0.5em;
    left:0.5em;
    padding:5px;
    border:1px double #000
 }
 }

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: stuff 2s;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  animation-duration: 2s;
  animation-name: bounceIn;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  display: flex;
  justify-content: space-around;
  align-self: center;
  min-height: 10vh;
  background: lightblue;
  color: white;
}
.navigation {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: pink;
  list-style-type: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
